@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
* {
    box-sizing: border-box;
}

.quotes-display {
    // border:2px solid black;
    width: 100%;
    overflow:visible;
    padding: 10px;
    display: block;
    height:fit-content;
    // border:1px solid red;
    .noquote-div, .quote-found-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Lato', sans-serif;
        img{
            width: min(30vw, 250px);
        }
        h5{
            font-size: 1.5em;
            font-weight: 900;
        }
        p{
            font-family: 'Lato', sans-serif;
            font-size:1em;
            text-align: center;
            color:gray;
            text-align: center;
            font-weight: 900;
            letter-spacing: 1px;
            padding:3px 20px;
        }
        .keyword-link{
            text-decoration: underline;
            color: hotpink;
        }
        .keyword-link:hover{
            text-decoration: none;
        }
    }
    ul {
        max-width: 900px;
        overflow: hidden;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 13px;
        .copy-div{
            width:100%;
            height: 100%;
            position: absolute;
            top:0;
            left:0;
            overflow:hidden;
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .copy::before{
            z-index: 3;
            content:'Copied!!!';
            width:40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            color:white;
            background-color: rgba(0,0,0,0.7);
            font-family: 'Lato', sans-serif;
            animation:copy 1s 1 ease-in-out;
        }
        li {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            cursor: pointer;
            border:1px solid darkgray;
            border-radius: 5px;
            padding: 0 20px;
            width: 100%;
            overflow:hidden;
            font-size: 1.3em;
            filter: contrast(120%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
            margin:10px;
            .glow{
                position:absolute;
                left:0;
                top:0;
                width:100px;
                height:60em;
                // border:1px solid black;
                transform:rotate(25deg) translate(-450%, -50%);
                transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
                filter:blur(10px);
                background: rgba(255,255,255,.3);
            }
            &:hover{
                .glow{
                    transform: rotate(25deg) translate(850%, -50%);
                }
            }
            
        }
        @keyframes copy{
            0%{
            }
            50%{
                width: 2000px;
                height: 2000px;
                opacity:1;
            }
            100%{
                opacity:0;
                width: 2000px;
                height: 2000px;
            }
        }
        .quote {
            color:#555;
            q::before, q::after{
                font-size: 1.5em;
                position:absolute;
            }
            q::before{
                transform: translateX(-11px);
            }
            // border:2px solid blue;
            font-family: 'Cinzel', serif;
            margin: 10px 0;
        }

        .author {
            width:100%;
            color: #888;
            font-weight: 100;
            font-size: 1.1em;
            text-align: right;
            padding-right: 40px;
            font-family: 'Praise', cursive;
            margin-bottom: 10px;
            position: relative;
            overflow: hidden;
        }
    }
}