@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.error-div{
    overflow: visible;
    // border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:30px;
    img{
        max-width:250px;
        width:30vw;
    }
    p{
        font-family: 'Lato', sans-serif;
        font-size:1.2em;
        text-align: center;
        color:gray;
        text-align: center;
        font-weight: 900;
        letter-spacing: 1px;
        padding:3px 20px;
    }
    p:first-of-type{
        font-size: 1.3em;
        color:black;
    }
    button{
        margin-top:10px;
        padding:5px 10px;
        background-color: transparent;
        cursor: pointer;
        width:100px;
        border-radius: 10px;
        border:1px solid gray;
        color:gray;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: 0.3s ease-in-out;
        &:hover{
            letter-spacing: 4px;
            background-color: gray;
            color:#fbfbfb;
        }
    }
    
}